/**
 * @file AddPatientDialog.scss
 */

@import 'scss/common.scss';

.add-patient-dialog {

    .ant-modal-body {

        .field-set {
            margin: 0;
            border: none;
        }

        .material-text-field,
        .material-dropdown-select {
            margin-bottom: 24px;
        }
    }
}
