/**
 * @file PatientListFilterForm.scss
 */

@import 'scss/common.scss';

.patient-filter-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > * {
        min-width: 160px;
        margin: 0 0 0 16px;
    }
}
