/**
 * @file PatientListFilter.scss
 */

@import 'scss/common.scss';

.patient-list-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    margin-bottom: 16px;
}
